.container {
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentContainer {
    background-color: #242424;
    max-width: 980px;
    width: 100%;
    border-radius: 1rem;
    color: white;
    padding: 3rem 2rem 4rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.titleText {
    font-size: 4rem;
    font-family: 'PP Machina Inktrap', sans-serif;
    padding-bottom: 1rem;
}

.notes {
    font-size: 1.25rem;
    padding: 0;
    list-style: none;
}

.note {
    width: 100%;
    display: flex;
}

.noteDateText {
    width: 150px;
    flex-shrink: 0;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'PP Machina', sans-serif;
    font-weight: 400;
    padding-right: 15px;
}

.noteTitleText {
    font-family: 'PP Machina', sans-serif;
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    cursor: pointer;
}

.noteTitleText:hover {
    text-decoration: underline;
}