.container {
    height: 100%;
    width: 100%;
    background-color: #242424;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.titleContainer {
    height: 40%;
    width: 100%;
}

.titleText {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 5rem;

    cursor: pointer
}

.contentContainer {
    height: 60%;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    cursor: pointer;
}


.contentText:hover {
    text-decoration: underline;
}

@media screen and (max-width: 535px) {
    .contentContainer {
        display: flex;
        flex-direction: row;
        align-items: end;
    }
}
