.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 'background-color 0.2s ease';
    cursor: pointer;
}

.icon:hover {
    background-color: #D4D4D4;
}

.icon:hover .svg {
    fill: #242424;
}

.svg {
    fill: #EBEBEB;
}

