.container {
    height: 100%;
    width: 100%;
    background-color: #242424;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
}

.titleContainerLarge {
    display: block;
    height: 50%;
    width: 100%;
}

.titleContainerSmall {
    display: none;
}

.titleText {
    font-weight: 500;
    font-size: 3.5rem;
    color: white;
    
}

.iconContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .titleContainerLarge {
        display: none;
    }

    .titleContainerSmall {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .iconContainer {
        /* justify-content: center; */
    }
}