.container {
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navContainer {
    max-width: 1480px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #242424;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 3.5rem 0 2rem 0;
}

.lgView {
    max-width: 1480px;
}

.mdView {
    max-width: 980px;
}

.title {
  font-family: 'PP Machina', sans-serif;
  font-weight: 400;
  display: none; 
}

@media screen and (min-width: 1000px) {
  .title {
    display: block;
    padding: 0.5rem 0;
  }
}

.linkGroup {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 999px) {
  .linkGroup {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
    .linkGroup {
        font-size: 1.5rem;

    }
}

.navLink {
    cursor: pointer;
    height: 100%;
    padding: 0.5rem 0;
}

.navLink:hover {
    color: #686363;
}