.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #eaeaea;
    padding: 1rem;
    box-sizing: border-box;
}

.titleText {
    font-size: 1.75rem;
    font-weight: 500;
}

.matrixContainer {
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.cellContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    /* background-color: #eaeaea; */
    height: 17.5px;
    width: 17.5px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease; /* Smooth transition */
    z-index: 1; /* Ensure hovered cell appears above others */
    font-size: 0
}

.cell:hover {
    font-size: 12px;
    transform: scale(2); /* 22.5/17.5 = 1.28 */
    z-index: 10; /* Bring to front when hovered */
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 20px; */
    padding: 20px 20px
}

.button {
    font-size: 1.5rem;
    /* background-color: black; */
    width: 65px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: black;
    color: white;
}


.buttonSelect {
    background-color: black;
    color: white;
}