.container {
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentContainer {
    background-color: #242424;
    max-width: 980px;
    width: 100%;
    border-radius: 1rem;
    color: #D4D4D4;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 1rem 0;
    color: #D4D4D4;
    font-weight: 600;
    font-size: 40px;
}

.date {
    color: #D4D4D4;
    opacity: 70%;
    font-weight: 400;
    font-size: 25px;
}


.content {
    padding: 2rem 0;
    color: #D4D4D4;
    font-weight: 500;
    width: 100%;
}

.section {
    padding-bottom: 2.5rem;
}

.sectionHeader {
    font-size: 25px;
    padding: 0 0 1rem 0;
    margin: 1rem 0;
    border-bottom: 1px solid #727272;
}

.sectionSubHeader {
    font-size: 22px;
    padding: 0 0 0.5rem 0;
}

.p {
    font-weight: 300;
    font-size: 18px;
}

.list {
    list-style: disc;
    padding-left: 1.5rem;
}

.link {
    color : #E68D00;
}

.list li {
  margin: 1rem 0;
}

.list li::marker {
    color: #727272
}

.imgWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 1rem;
}

.imgContainer {
    position: relative;
}

.mdImg {
    width: 800px;
    height: 600px;
}

.lgImg {
    width: 800px;
    height: 1400px;
}

@media screen and (max-width: 670px) {
    .imgContainer {
        width: 100%;
        height: auto;
    }

    .mgImg {
        aspect-ratio: 800 / 600; 
    }

    .lgImg {
        aspect-ratio: 800 / 1400; 
    }
}



.imgSubtitle {
    font-size: 18px;
    padding: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.imgSubtitle:hover {
    text-decoration: underline;
}

.listElement {
    padding: 1.5rem 0;
}

.gridWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridContainer {
    width: 90%;
    padding: 2rem;
    background-color: #ffffffe5;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px; 
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

.colorSquare {
    width: 100%;
    aspect-ratio: 1; 
    border-radius: 8px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colorSquare:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}