.container {
    height: 100%;
    width: 100%;
    background-color: #242424;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.titleContainer {
    height: 100%;
    width: 100%;
}

.titleText {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
}

.buttonContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.buttonText {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}

.buttonText:hover {
    text-decoration: underline;
}